html, body{
  margin:0;
  background-color: var(--color-light);
  font-family: source-sans-3, Arial, sans-serif;
  font-weight: var(--fw-regular);
  font-size: var(--m);
}

h2{
  font-size: var(--l);
}

nav{
  background-color: var(--color-lightest);
  padding: var(--s);

  h1{
    margin-top:0;
  }
}
main{
  margin: var(--m);
}