html,
body {
  margin: 0;
  background-color: var(--color-light);
  font-family: source-sans-3, Arial, sans-serif;
  font-weight: var(--fw-regular);
  font-size: var(--m);
  list-style-type: none;
}

h2 {
  font-size: var(--l);
  font-weight: var(--fw-bold);
  margin: var(--l) 0;
}

nav {
  background-color: var(--color-lightest);
  padding: var(--s);

  h1 {
    margin-top: 0;
  }
}

main {
  margin: var(--m);
}

a {
  color: black;
  text-decoration: none;
}

figure {
  background-color: var(--color-lightest);
  margin-bottom: var(--l);
  line-height: var(--lh-tight);

  img{
    width: 100%;
  }

  h3,p{
    margin-left: var(--s);
  }

  h3{
    font-weight: var(--fw-bold);
    margin-top: var(--s);
  }

  p {
    font-size: var(--s);
    padding-bottom: var(--s);
  }
}