*{
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: var(--color-light);
  font-family: "source-sans-3", Arial, sans-serif;
  font-size: var(--m);
  font-weight: var(--fw-regular);
  list-style-type: none;
}

h2 {
  margin-top: var(--l);
  margin-bottom: var(--l);
  font-size: var(--l);
  font-weight: var(--fw-bold);
}

h3 {
  font-weight: var(--fw-bold);
}

main {
  margin: var(--m);
}

a {
  color: black;
  text-decoration: none;
}