.logo {
  width: 150px;
  margin-top: 0;
}

.main-nav {
  background-color: var(--color-lightest);
  padding: var(--s);
}

.welcome-banner {
  background-color: var(--color-th-orange);
  margin-bottom: var(--l);
  padding: var(--l);

  color: var(--color-lightest);
  line-height: var(--lh-normal);

  h2 {
    margin-top: 0;
  }
}

.card-list {
  li {
    position: relative;

    margin-bottom: var(--s);
    padding: var(--s);
    background-color: white;

    line-height: var(--lh-tight);

    p, a{
      margin-left: var(--xxl);
    }
  }
}

.gallery-list{
  background-color: var(--color-lightest);
  margin-bottom: var(--l);
  line-height: var(--lh-tight);

  img {
    width: 100%;
  }

  h3,
  p {
    margin-left: var(--s);
  }

  h3 {
    margin-top: var(--s);
  }

  p {
    padding-bottom: var(--s);
  }
}

.subtext {
  font-size: var(--s);
}