.logo {
  width: 40%
}

.welcome-banner {
  background-color: var(--color-th-orange);
  color: var(--color-lightest);
  padding: var(--l);
  margin-bottom: var(--l);
  line-height: var(--lh-normal);

  h2 {
    margin-top: 0;
  }
}

.card-list {
  li {
    margin-bottom: var(--s);
    padding: var(--s);
    line-height: var(--lh-tight);
    background-color: white;
    position: relative;

    p,
    a {
      margin-left: var(--xxl);
    }

    .subtext {
      font-size: var(--s);
    }
  }
}